body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo img {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

/* .heading h1 {
    font-size: 1.5em; 
    margin: 0;
} */
.search-bar {
    margin-top: 10px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

.nav-section {
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}
footer {
    background-color: #33333379;
    color: #fff;
    padding: 100px;
    text-align: center;
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh
}
.product {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 8px;
}
.product img {
    width:  50px;
    /* height: 50px; */
    border-radius: 4px;
}
.dropdown {
    display: inline-block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 14px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* .social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
.social-links img {

    width: 20px;
}
.mf-div{
    display: flex;
    
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-data {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh
}

.product {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 8px;
}
/* .product img {
    width: 40%;
} */

.contact-data {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.contact-logs a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
.contact-logs img {
    width: 20px;
}

/* .contact-description {
    /* Add styles for contact description */

/* .social-links a:hover {
    text-decoration: underline;
} */ 